<div class="container">
    <h4>Task 1</h4>

    <div class="alert alert-danger" role="alert">
        Легкие человека на {{percent | percent}} процентов состоят из воды. Два литра воды стоит {{price | currency}}
    </div>
</div>

<div class="container">
    <h4>Task 2</h4>

    <div class="alert alert-info" role="alert">
        <div [ngSwitch]="count">
            <ng-template ngSwitchCase="1">{{count * 10}}</ng-template>
            <ng-template ngSwitchCase="2">{{count * 100}}</ng-template>
            <ng-template ngSwitchDefault>{{count * 1000}}</ng-template>
        </div>
        <button (click)="plus()">Plus</button>
    </div>

    <div *ngFor="let num of numbers">
        <div *ngIf="num % 2 === 0; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <div class="alert alert-primary" role="alert">
                {{num}}
            </div>
        </ng-template>
        <ng-template #elseBlock>
            <div class="alert alert-secondary" role="alert">
                {{num}}
            </div>
        </ng-template>
    </div>
</div>

<div class="container">
    <h4>Task 3</h4>

    <button (click)="car()" style="margin: 2px;" class="btn btn-primary stretched-link ">Car</button>
    <button (click)="plane()" style="margin: 2px;" class="btn btn-primary stretched-link ">Plane</button>
    <button (click)="ship()" style="margin: 2px;" class="btn btn-primary stretched-link ">Ship</button>

    <div *ngIf="machine">
        <div class="card" style="width: 18rem;">
            <img src="{{machine?.url_photo}} " class="card-img-top " alt="... ">
        </div>
        <div class="card-body ">
            <h5 class="card-title ">{{machine.name}}</h5>
        </div>
    </div>
</div>