@import "~normalize.css";
@import 'roboto.css';
body {
    background-color: aqua;
    font-family: 'Robot', sans-serif;
}

h1 {
    text-align: center;
}

.img {
    background-image: url("../assets/webpack.png");
    margin: 0 auto;
    height: 600px;
    width: 600px;
    background-size: cover;
}