<h1>
    {{title}}
</h1>

<h1>
    {{start()}}
</h1>

<div class="container">
    <div class="counter">
        {{counter}}
    </div>
    <button (click)="plus()">Plus</button>
</div>

<button (click)="doClick()">Click me</button>

<div *ngIf="students.length > 0">
    <div *ngFor="let student of students">
        Name: {{student.name}} Surname: {{student.surname}} Avarage: {{student.avarage}} Group: {{student.group}}
    </div>
</div>

<div *ngIf="hobbys.length > 0">
    <ul>
        <li *ngFor='let hobby of hobbys'>
            <div class="hoby-name"> {{hobby.name}}</div>
            <div class="hoby-description">[{{hobby.description}}]</div>тп
        </li>
    </ul>
</div>

<div *ngIf="types.length > 0">
    <ul>
        <li *ngFor=' let type of types'> {{type}}</li>
    </ul>
</div>

<div *ngIf="cars.length > 0">
    <div *ngFor="let car of cars">
        {{car.model}} - {{car.year}}
        <img src="{{car.photo}}" alt="" style="height: 300px;">
    </div>
</div>